<footer>
    <div class="f-info sticky-btm">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="f-info-brand">
            &copy; wanderlus Privale LTD
        </div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/help">help</a>
        </div>
    </div>
</footer>